header {
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
 }
 
 .header-container {
 
    height: 91px;
    margin: 0 auto;
    width:  960px;
 }
 
 .logo{
 
    float: left;
    width: 250px;
    background: #4aaaa5;
    text-align: center;
    height: 100%;
 }
 .menu-container{
  float: right;
  padding-top: 20px;
 
 }
 
 .menu-container ul {
    list-style: none;
 }
 
 .menu-container li {
    display: inline;
    text-decoration: none;
    font-size: 1em;