.page {
    height: 100%;
    width: 100%;
    background-color: lightsalmon;
    
}

.pagewrap{
    height: 80%;
    width: 60%;
    background-color: lightblue;
    position: absolute;
    
}

#header {
    text-align: center;
    position: relative;
    font-size: 30px;
    height: 75px;
    width: 150px;
    top: 0;
    left: 100px;
    background-color: grey;
    color: white;
}

#image {
    float: left;
}