.pagewrap {
    width: 960px;
    background-color: #ffffff;
    position: absolute;
}

#head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    font-size: 20px;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: grey;
    color: black;
}


#image {
    float: left;
    left: 20px;
    margin: 15px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: teal;
}

.main-bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2;
}

.container { 
    width: 1024px;
    margin: auto;
    background: white;
    padding: 10px;
}

h1        {
    height: 75px;
    width: 100%;
    background-color: black;
    color: orange;
}

p {
    margin: 0;
    padding: 10px;
}
